<ion-view view-title="home">
  <!--顶部导航搜索-->
  <div class="bar bar-header bar-light" id="header">
    <div id="headerBar-bg"></div>
    <div class="headerBar-logo"></div>
    <div class="search">
      <div class="search1">
        <a href="#" class=""></a>
        <input type="text" name="" value="美妆1元起 独家放价">
      </div>
    </div>
    <a href="#/tab/dash" class="landing">
      <span>登陆</span>
    </a>
  </div>
  <ion-content id="home-content" overflow-scroll="true" style="margin-top:0">
    <!--banner轮播-->
    <div class="swheader">
      <div class="swiper-container" id="myswiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="./img/bg1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="./img/bg2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="./img/bg3.jpg" alt=""></div>
          <div class="swiper-slide"><img src="./img/bg4.jpg" alt=""></div>
          <div class="swiper-slide"><img src="./img/bg5.jpg" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" style="bottom:5px;"></div>
      </div>
    </div>
    <!--功能导航-->
    <div id="nav-content">
      <nav id="nav">
      <span ui-sref="tab.sort" href="#/tab/sort">
      <img src="./img/sort1.png" alt="./img/sort1.png">
      <h6>分类查询</h6>
      </span>
      <span>
      <img src="./img/sort2.png" alt="./img/sort2.png">
      <h6>物流查询</h6>
      </span>
      <span>
      <img src="./img/sort3.png" alt="./img/sort3.png">
      <h6>购物车</h6>
      </span>
      <span>
      <img src="./img/sort4.png" alt="./img/sort4.png">
      <h6>我的京东</h6>
      </span>
      <span>
      <img src="./img/sort5.png" alt="./img/sort5.png">
      <h6>充值</h6>
      </span>
      <span>
      <img src="./img/sort6.png" alt="./img/sort6.png">
      <h6>领券中心</h6>
      </span>
      <span>
      <img src="./img/sort7.png" alt="./img/sort7.png">
      <h6>生活团购</h6>
      </span>
      <span>
      <img src="./img/sort8.png" alt="./img/sort8.png">
      <h6>我的关注</h6>
      </span>
    </nav>
    </div>
    <!--京东头条-->
    <div class="toutiao">
      <img src="./img/toutiao.jpg" alt="">
      <div class="swiper-container" id="touSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-repeat="a in toutiaoData">{{ a }}</div>
        </div>
      </div>
    </div>
    <!--逛购轮播-->
    <div class="goshopping">
      <div class="swiper-container" id="goSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-repeat="item in goSwiperData"><img ng-src="{{item.src}}"></div>
        
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!--掌上秒杀spike-->
    <div id="spike">
      <div class="spike-top">
        <span></span>
        <h4>掌上秒杀</h4>
        <!--time-->
        <div class="spike-time" id="spikeTime">
         
        </div>
        <div class="more">更多<i class="icon ion-chevron-right"></i></div>
      </div>
      <ul class="spike-bottom">
        <li>
          <img src="./img/bag.jpg" alt="">
          <span class="oldPrice"><del>￥39.00</del></span>
          <span class="newPrice">￥11.11</span>
        </li>
        <li>
          <img src="./img/bag.jpg" alt="">
          <span class="oldPrice"><del>￥39.00</del></span>
          <span class="newPrice">￥11.11</span>
        </li>
        <li>
          <img src="./img/bag.jpg" alt="">
          <span class="oldPrice"><del>￥39.00</del></span>
          <span class="newPrice">￥11.11</span>
        </li>
      </ul>
    </div>
    <!--主题街-->
    <div class="title-footer">主题街 </div>
    <div class="title-footer1">

      <div class="footer1-left">
        <img src="./img/footer1.jpg" alt="">
      </div>
      <div class="footer1-right">
       <div class="img-top"> <img src="./img/footer2.jpg" alt=""></div>
       <div class="img-bottom"> <img src="./img/footer3.jpg" alt=""></div>
      </div>

    </div>

    <!--主题街轮播-->
    <div class="footer-slide">
      <div class="swiper-container" id="footerSlide">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="./img/footSlide1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="./img/footSlide2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="./img/footSlide3.jpg" alt=""></div>
       </div>
       <div class="swiper-pagination"></div>
      </div>
    </div>

     <!--超值购-->
    <div class="valueGo">超值购 </div>
    <div class="valueGo1">

      <div class="valueGo1-left">
        <img src="./img/valueGo1.jpg" alt="">
      </div>
      <div class="valueGo1-right">
       <div class="valueGo1-top"> <img src="./img/valueGo2.jpg" alt=""></div>
       <div class="valueGo1-bottom"> <img src="./img/valueGo3.jpg" alt=""></div>
      </div>

    </div>
    <!--回到顶部区域-->
    
  </ion-content>
  <div class="back-top" id="top" style="opacity: 0;"></div>
</ion-view>
